<mat-card>
    <h2 class="alinear">Listado de Videojuegos</h2>
    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-raised-button color="primary" (click)="openGameDialog()">Agregar Producto</button>
                </li>
            </ul>

        </div>
    </mat-card-header>

    <div mat-card-image></div>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-cell">

            <ng-container matColumnDef="developer">
                <th mat-header-cell *matHeaderCellDef> Desarrollador</th>
                <td mat-cell *matCellDef="let element"> {{ element.developer.name }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                <td mat-cell *matCellDef="let element"> {{ element.description | slice:0:30}}</td>
            </ng-container>

            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Año</th>
                <td mat-cell *matCellDef="let element"> {{ element.year}}</td>
            </ng-container>

            <ng-container matColumnDef="console">
                <th mat-header-cell *matHeaderCellDef> Consola</th>
                <td mat-cell *matCellDef="let element">
                    <ul>
                        <ng-container *ngFor="let item of element.console">
                            <li>            
                                {{ item.name }}
                            </li>
                        </ng-container>
                    </ul> 
                </td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Foto </th>
                <td mat-cell *matCellDef="let element"> <img [src]="element.image" width="50" height="50"></td>
            </ng-container>

           <!-- actions-->
           <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element; let i=index;">

                <button mat-icon-button color="accent">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" >
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>