.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

.titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grafico{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartContainer canvas{
    max-height: 250px;
    width: auto;
}

.chartContainer{
    height: 45%;
    width: 45%;
}